@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@import "tailwindcss";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-dark: var(--accent-dark);
}
:root {
  --brass-50: #F9F4F1;
  --brass-100: #EDE2D8;
  --brass-200: #DAC3AD;
  --brass-300: #C7A182;
  --brass-400: #B6815D;
  --brass-500: #AE6F52;
  --brass-600: #995846;
  --brass-700: #804535D;
  --brass-800: #6A3A36;
  --brass-900: #58312F;
  --brass-950: #311817;
  --background: var(--brass-50);
  --foreground: hsl(20, 20%, 20%);
  --accent: var(--brass-700);
  --accent-light: var(--brass-300);
  --accent-dark: var(--brass-800);
  --card-background: var(--brass-100);
  --muted-foreground: hsl(20, 10%, 40%);
  --border: var(--brass-200);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}